{{outlet}}


<div class="scroll">
    {{#link-to 'index' tagName="title" class="small"}}
        Say Hello
    {{/link-to}}
    <p>
        Portfolio by <b>Aimee Leong</b>
    </p>

    <div class="items">
        {{#each model as |item|}}
            {{#link-to "item" item.number class='item' tagName="div"}}
                <img src="{{item.cover}}" alt="" />
                <div class="number">
                    {{item.number}}
                </div>
                <div class="title">
                    {{item.title}}
                </div>

                <div class="desc">
                    {{item.desc}}
                </div>
            {{/link-to}}
        {{/each}}
    </div>
</div>
